.container_login > .login_left,
.container_login > .login_right {
    margin: 0;
}


@media screen and (max-width: 768px) {
    .container_login {
        flex-direction: column; 
        height: auto; 
    }

    .login_left, .login_right {
        flex: 1; 
        min-height: auto; 
        border-radius: 0; 
        margin: 0; 
    }
}

.container_login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #473977;
}


.login_left, .login_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;


}

.login_left {
 
    flex: 0.2; 
    min-height: 65vh;
    min-width: 61vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    
}

.login_logo {
   width: 200px;
   height: auto;
}

.login_right {
    flex: 0.2; 
    min-height: 65vh;
    min-width: 61vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D7EF;
    padding: 20px;
   
    
}

.wrap_login {
    width: 390px;
    background-color: #E8F1F9;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.login_form {
    width: 100%;
}

.wrap_input {
    width: 100%;
    position: relative;    
    background-color: #E8F1F9;
    border-bottom: 2px solid ;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focus_input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
}

.focus_input::before {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: linear-gradient(to left, hsl(208, 88%, 46%), #7a46c8);
}



.focus_input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    padding-left: 5px;
    transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus_input::after {
    top: -12px;
    font-size: 15px;
}

.input:focus + .focus_input::before {
    width: 100%;
}

.has_val.input + .focus_input::after {
    top: -12px;
}

.container_login_form_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.login_form_btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;    
    height: 50px;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #473977;
}

.login_form_btn:hover {
    cursor: pointer;
}

.text_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.txt1 {
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    text-decoration: none;
    padding-right: 5px;
}

.txt2 {
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}
