.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #473977;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-right: 2px solid #E8F1F9;
    overflow: hidden;
    z-index: 100;
}

.sidebar_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.sidebar_middle {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar_footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

.logo {
    width: 170px;
    height: auto;
    margin-bottom: 20px;
}


.menu_item {
    margin: 10px 0; 
    font-size: 16px;
    color: #6a6a6a;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.menu_item:hover {
    background-color: #f0f0f0;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu_item span {
    font-size: 14px;
    color: #6a6a6a;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .menu_item {
        justify-content: center;
    }

    .menu_item span {
        display: none;
    }

    .logo {
        width: 50px;
    }
}