name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install client dependencies
        run: npm install
        working-directory: ./client

      - name: Run Cypress tests
        run: npm run cypress:run
        working-directory: ./client
        with:
          run: npm start